<h2>Payment Update</h2>
<p>Plan: {{planName}}</p>
<p>Amount: {{amount}} {{currency}}</p>
{{#if invoiceId}}
<p>Invoice ID: {{invoiceId}}</p>
{{/if}}
<p>Your subscription has been updated accordingly.</p>
